<div class="container-fluid ">
    <div class="container mt-3 d-flex justify-content-between">
        <div class="col-sm-2">
           <a href="/">Y-library</a>
        </div>
        <div class="col-sm-8 d-flex justify-content-between">
            <a href="/">Books</a>
            <a href="/">Add Book</a>
            <a href="/auther">authers</a>
            <a href="/auther/new">Add auther</a>
        </div>
    </div>
</div>