<div class="container">
    <h3 >New Book</h3>
<form action="/book" method="POST" enctype="multipart/form-data">
    <%- include('./_form-fields') %>
   
    <a href="/book">Cancel</a>
    <button type="submit">Adding</button>
</form>
</div>